[2021-07-14 20:30] Nicole-Ridgwell-NMMNHS commented on #206
I would like NMMNH paleo to be changed to NMMNH in both the acronym field and institution name. That has been our standardized institutional acronym for specimen citation since the museum was founded and otherwise it will be confusing to researchers about which to use.

Clearly it would be helpful to have definitions for these? I knew next to nothing about Arctos when we were setting this up and I

[2021-07-14 20:40] Jegelewicz commented on #206
@Nicole-Ridgwell-NMMNHS The Institutional Acronym isn't published anywhere - it is used internally to manage barcode series and to be able to get all collections from a single institution. There really is no need to change it.

As for the name - see https://github.com/ArctosDB/documentation-wiki/issues/206#issuecomment-880092143

[2021-07-14 20:44] lin-fred commented on #206
@Nicole-Ridgwell-NMMNHS @Jegelewicz referencing the "Institution" New Mexico Museum of Natural History and Science (NMMNHS). Should it be NMMNH? As that is what people would need to search on? Not NMMNHS?

Also, should our barcodes be NMMNH instead of NMMNHS? Important to discuss for sure.

[2021-07-14 20:50] Jegelewicz commented on #206
The NMMNHS is not "in" the barcodes. It is used to relate your collections to the barcode series. So, your institutional barcode is NMMNHS
![image](https://user-images.githubusercontent.com/5725767/125690886-1764580b-a41d-417c-b9fa-58c644006735.png)

your barcodes all start with NMMNH
![image](https://user-images.githubusercontent.com/5725767/125691003-5979c3e9-3b37-4a41-b4c7-1665512c8b10.png)

[2021-07-14 20:54] Jegelewicz commented on #209
@dustymc I changed https://handbook.arctosdb.org/documentation/catalog.html#collection-code to reflect the "Type" as we use it on Manage Collection. Also added reference to parts which use this code as well.

Let me know if it isn't OK.

[2021-07-14 20:54] Nicole-Ridgwell-NMMNHS commented on #206
What does that mean?

I guess if the acronym is entirely internal I'm not as concerned about it.

[2021-07-14 20:55] mkoo commented on #209
love the new GUID guidelines-- this is an outline of my spiel so now I can
link to the page instead.

And updating Documentation seems best

On Wed, Jul 14, 2021 at 1:15 PM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2021-07-14 21:04] dustymc commented on #209
Seems OK to me - maybe leave a comment (if you can figure out how to do so in markdown...) referencing this for the next round.

[2021-07-14 23:04] Jegelewicz commented on #209
@mkoo I was thinking we should add a section to the handbook for Best Practices...

[2021-07-14 23:32] Jegelewicz commented on #209
@dustymc I've worked on it a bit more. I think a little table for each of these might be helpful and I can add as I work on stuff. What do you think?

https://handbook.arctosdb.org/documentation/catalog.html#collection-code

[2021-07-14 23:38] Jegelewicz commented on #206
Ability to find all collections with the same Institutional Acronym. Arkansas (ACBC) has collections with GUID Prefix that start with STAR and with ASUMZ, but they all have Institutional Acronym of ACBC which creates a path for finding all their stuff (hopefully).

[2021-07-14 23:43] dustymc commented on #209
https://handbook.arctosdb.org/documentation/catalog.html#collection-type - note that changing stuff there changes URLs, which sometimes breaks documentation.

https://github.com/ArctosDB/arctos/issues/1075

The table is hawt, but also I might be the worst possible person to evaluate that sort of thing.

And "editable" is "we have SQL, and we can use it if we absolutely must" - it's easier to chang

[2021-07-15 00:40] Jegelewicz commented on #209
Commenting in Markdown = [//]: # (See https://github.com/ArctosDB/documentation-wiki/issues/209)

but that only works for an entire line.

See also https://stackoverflow.com/questions/37364722/how-do-i-add-inline-comments-in-github-flavored-markdown

Which says this should work  but apparently not?

That's good?

Yeah, but I'm going to use this to mean "editable by Arctos operator with appropriate

[2021-07-15 00:48] dustymc commented on #209
.... in a few of the bajillion parsers, generally....

Yes good. I don't think anything's missing but I'm still me so....

No I've got SQL and a table browser, and I think we all know how I feel about doing the same thing in multiple places (and here's why!), it ain't my fault.

[2021-07-15 16:44] Jegelewicz opened #210 "Need How To - Bulkload Parts"
How To: https://handbook.arctosdb.org/how_to/How-to-Bulkload-Parts.html

In Github: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Bulkload-Parts.markdown

The following need added to this How To

 - [ ] Video Tutorial

When the above are complete.

 - [ ] Remove the under construction bear at the top of the page

This will create two parts, each with only one preserva

[2021-07-15 16:49] Jegelewicz commented on #134
https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Bulkload-Parts.markdown

Will be part of this

[2021-07-15 16:50] Jegelewicz commented on #210
Under Construction - https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Bulkload-Parts.markdown

[2021-07-15 17:37] Jegelewicz commented on #209
Solution: use HTML

![image](https://user-images.githubusercontent.com/5725767/125832427-ba4a7be5-47f8-4d1e-ad65-9e715e976552.png)

get this

![image](https://user-images.githubusercontent.com/5725767/125832350-d256237b-bb8d-4f12-b7bc-11070da01263.png)

[2021-07-15 17:38] Jegelewicz commented on #209
Why is the handbook written in Markdown as opposed to HTML? @dustymc @mkoo

[2021-07-15 17:50] Jegelewicz opened #211 "De-specimen Documentation"
I cannot figure out how to change this!

![image](https://user-images.githubusercontent.com/5725767/125834028-13041af0-7731-409e-b709-67b82c8a3697.png)

@mkoo

[2021-07-15 17:52] Jegelewicz opened #212 "Part Documentation needs an update now that preservation has been separated."
https://handbook.arctosdb.org/documentation/parts.html

[2021-07-15 17:56] dustymc commented on #209
The decision to convert was made at the Sevillita meeting.

Markdown is a very simple language, about anyone can contribute to the handbook.

Github has markdown-->magic-->html functionality.

[2021-07-15 18:20] Jegelewicz commented on #209
But as far as I can tell, very few are editing? And that magic doesn't do some of the things we need.

For instance, the markdown for the "stable" links does not translate, but the HTML works great....

[2021-07-15 18:51] mkoo commented on #209
You can use html in markdown. Markdown is basically easier (in theory) HTML
shortcodes. So everything in *.md gets converted to HTML

Do whatever you prefer.

On Thu, Jul 15, 2021 at 11:21 AM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2021-07-15 18:52] mkoo commented on #209
your screenshots are pointing to CSS issue which is slightly different

On Thu, Jul 15, 2021 at 11:51 AM Michelle S. Koo ***@***.***> wrote:

[2021-07-15 19:00] dustymc commented on #209
You are arbitrarily changing things (or finishing up an earlier arbitrary change, or something). The HTML is just adding an explicitly-named anchor (which no longer quite agrees with the text). My take-home would be (and always has been) that we need to coordinate changes.

[2021-07-15 19:29] Jegelewicz commented on #209
Which means I can change the text without breaking links...No?

[2021-07-15 22:00] dustymc opened #213 "table column documentation"
**SABI Goal**
Documentation sprints, community outreach with GBIF, iDigBio, TDWG

@Jegelewicz

https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Bulkload-Parts.markdown

1. It's wrong  - "Arctos will automatically assign the next available catalog number if this field is left blank." is only true for some values of https://arctos.database.museum/info/ctDocumentation.cfm?t

[2021-07-15 22:23] Jegelewicz commented on #213
That's old stuff that I copied over from another document. I haven't gotten to it yet....thus the "under construction" bear.

[2021-07-15 22:24] Jegelewicz commented on #213
Maybe we aren't looking at the same thing?

[2021-07-15 22:26] dustymc commented on #213
I'd not be at all surprised if there's a 3rd copy out there somewhere - that's my point here!

Maybe Google Sheets? Does it save a flavor of HTML that the handbook can deal with? Then it would "just" be a matter of getting everyone to edit the spreadsheet and not the HTML.....

[2021-07-15 22:44] Jegelewicz commented on #213
What? I am editing in the documentation wiki repo - why would there be anything anywhere else?

[2021-07-16 16:29] Jegelewicz commented on #213
@dustymc lets chat about this on Monday during your office hour.

Right now some of the stuff in "Documentation" seems to really belong in either a How To or Best Practice. I'd like to stick with "technical stuff" in Documentation: what it is, what it does, and leave the rest elsewhere.

And I agree that we should make use of what you already have and build that into the Documentation so that we a

[2021-07-19 19:21] Jegelewicz commented on #213
@Jegelewicz to look at possible ways we can make use of the table browser to make it easier to create technical documentation.

Ideas include:
 - Entity Relationship Tool (not sure I can actually evaluate that, but it is on the table).
 - Download CSV with some method of adding user-friendly meta-info
 - Anyone else have ideas?

[2021-07-19 23:19] Jegelewicz opened #214 "Handbook Expansion Improvements"
Currently the Handbook Home Page looks like this:

![image](https://user-images.githubusercontent.com/5725767/126215600-c00bffcd-0381-4ac3-a47c-331af25908a5.png)

I propose that we add a section to the handbook called "Best Practices". @dustymc suggests this should be between Documentation (technical specs) and How To (Steps to complete a task in Arctos). An example of this would be the [Documenta

[2021-07-20 05:25] mkoo commented on #214
ok I can set up a test home page -- should we add a 5th icon or replace the last one with the Arctos link with the new one?

[2021-07-21 23:49] szaborac commented on #182
Hi. Is there a problem in the scheduler again?  This problem is back.  Records I added locality information to on Monday have not perpetuated those data in the Search Results. See UAM:Herb:196512.

[2021-07-22 13:33] Jegelewicz commented on #182
@szaborac Arctos is undergoing maintenance which has slowed processing. We hope to have things back to normal early next week. Thanks for you patience!

[2021-07-23 18:53] Jegelewicz opened #215 "How To Create and Edit Parts update needed"
I don't think that is appropriate for this newsletter article, but it should end up in some sort of "Best Practice" article and probably the "[How To Create and Edit Parts](https://handbook.arctosdb.org/how_to/How-to-Create-and-Edit-Parts.html)", which needs an update for this anyway.

_Originally posted by @Jegelewicz in https://github.com/ArctosDB/newsletter/issues/77#issuecomment-885834435_

[2021-07-23 20:26] Jegelewicz commented on #214
Seems like there's space - add a new one?

[2021-07-23 21:28] Jegelewicz opened #216 "Best Practice - Loan Numbering"
It would be helpful to new collections if we had some good loan numbering practices.

[2021-07-23 21:39] dustymc commented on #216
I think loan numbers are entirely arbitrary.

[2021-07-23 21:43] mkoo commented on #214
I was thinking the same!

On Fri, Jul 23, 2021 at 1:26 PM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2021-07-23 22:07] mkoo commented on #214
ok to make live?
https://handbook.arctosdb.org/index_new.html

Index page is simple, auto-listing all pages in the directory.
Love the "loan tree" graphic!
MK

On Fri, Jul 23, 2021 at 2:43 PM Michelle S. Koo ***@***.***> wrote:

[2021-07-23 22:10] Jegelewicz commented on #216
True - but I know that people do things that help them (like add .Mamm at the end) and it would be nice for people to know why and maybe follow along...

[2021-07-23 22:11] Jegelewicz commented on #216
The whole idea of "best practice" is to help people when the choice seems arbitrary.

[2021-07-23 22:12] Jegelewicz commented on #214
I'm good with it! @ccicero  was mostly responsible for the graphic...I just tweaked it a bit and PUBLISHED it!

[2021-07-23 22:19] dustymc commented on #216
I think that depends on whether the choice is truly arbitrary or not. (And maybe this one isn't, IDK, but so far and from my perspective it seems like all of the systems in Arctos work about equally well.)

[2021-07-23 22:23] campmlc commented on #216
I do think that anyone with a tissue collection that encompasses more than
a single division needs to absolutely use .Mamm or equivalent. The same
goes for guids, tissue collection or not. There are way too many citations
of "MSB:12345" when we have 9 division. What is it - a fish, a mammal?

On Fri, Jul 23, 2021 at 4:20 PM dustymc ***@***.***> wrote:

[2021-07-23 22:28] #214 closed, assigned to mkoo

[2021-07-23 22:29] Jegelewicz opened #217 "How To Create a New Loan updates"
How To: https://handbook.arctosdb.org/how_to/How-to-Create-a-New-Loan.html

In Github: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Create-a-New-Loan.markdown

The following need added to this How To

 - [ ] Adding a project
 - [ ] Adding a permit
 - [ ] Adding a shipment
 - [ ] Video Tutorial

The following could use some more work

 - [ ] Adding parts

When the abo

[2021-07-23 22:31] mkoo commented on #208
oh no. just toss into the Project for the website and I'll do in batches when available. You've got access too but better yet it may be a good idea to have a small committee on this (at least we can try that)

[2021-07-23 22:32] dustymc commented on #216
Some institutions share transactions, a fish in a 'dot-Mamm' loan might not be unexpected.

[2021-07-23 22:35] Jegelewicz commented on #216
Regardless, knowing what @campmlc  and @KyndallH do could really be informative to a brand new Arctos person.

[2021-07-23 22:37] Jegelewicz commented on #208
A committee who meets monthly and reviewed a page would probably be a great start to making sure this stuff doesn't hang around.

[2021-07-24 00:29] Jegelewicz commented on #215
Added.

[2021-07-24 00:29] #215 closed, assigned to nobody

[2021-07-24 00:56] #209 closed, assigned to Jegelewicz

[2021-07-24 01:11] Jegelewicz commented on #207
All references to GRBIO removed.

[2021-07-24 01:11] #207 closed, assigned to Jegelewicz

[2021-07-24 01:18] #206 closed, assigned to Jegelewicz

[2021-07-25 15:19] Jegelewicz commented on #77
Now that we have a Best Practice Section. I think we should move this document there with new title

Best Practice - Cataloging Fossil Material

[2021-07-25 15:25] Jegelewicz commented on #51
Closing this now that we have https://handbook.arctosdb.org/best_practices/Loan_Type.html

[2021-07-25 15:25] #51 closed, assigned to nobody

[2021-07-25 15:49] Jegelewicz commented on #77
Moved and closing. Anything new can come in as a new request.

[2021-07-25 15:49] #77 closed, assigned to KatherineLAnderson, dperriguey, mbprondzinski, Nicole-Ridgwell-NMMNHS

[2021-07-26 01:10] mkoo commented on #216
So instead of highlighting one method, how about a survey of different
methods? Many of us have historic contingency to dictate arbitrary
practices, of course....

On Fri, Jul 23, 2021 at 3:35 PM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2021-07-26 16:50] Jegelewicz commented on #216
Absolutely - with pros and cons for the various methods!

[2021-07-26 17:26] ebraker commented on #216
We use a simple sequential numbering system that was inherited rather than a more standard YYYY.## or variant. It is simple, sortable, and  does the job since calculating how many specimens were loaned per year is easy enough to do in Arctos. The only drawback is that we do quite a few cross-collection loans being a vertebrate collection, especially for public outreach and exhibits.  I assign the

[2021-07-26 21:22] Jegelewicz opened #218 "How To update - Search Projects and Publications"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

**NOTE**
This will probably change. See https://github.com/ArctosDB/arctos/projects/27
Probably good to wait changing a lot until the project/pub page is updated.

How To: https://handbook.arctosdb.org/how_to/How-to-Search-Project-Publications.html

In Github: https://github.com/Arct

[2021-07-26 21:32] Jegelewicz opened #219 "How To needed - How to Search Taxonomy"
Need instructions for this page: https://arctos.database.museum/taxonomy.cfm

Navigation is Search > Taxonomy

[2021-07-26 21:34] Jegelewicz opened #220 "How To needed - Search Media"
Needed for this page: https://arctos.database.museum/MediaSearch.cfm

Navigation: Search > Media/Documents

[2021-07-26 21:36] Jegelewicz opened #221 "How To needed - Search Geography"
Needed for this page: https://arctos.database.museum/place.cfm?sch=geog

Navigation: Search > Geography

[2021-07-26 21:38] Jegelewicz opened #222 "How To needed - Search Places"
Needed for this page: https://arctos.database.museum/place.cfm

Navigation: Search > Places

[2021-07-26 21:50] Jegelewicz opened #223 "Video Bear for video tutorials?"
@ebraker I wonder if you might like to design a "video bear" that we could use to highlight video tutorials in our How Tos? Sorta like the Pro bear we have for tips..

![image](https://user-images.githubusercontent.com/5725767/127063719-b6cf10ec-803d-43f4-9a35-a602823e97e0.png)

[2021-07-26 22:03] dustymc opened #260 "Feature Request - flatten/download taxonomy"
**Is your feature request related to a problem? Please describe.**
Taxon details-->download (tools/downloadByTaxonName.cfm) works for one taxon and it's apparent children. Someone often wants to download some arbitrary list of data (and apparent children, presumably)

**Describe what you're trying to accomplish**

Flatten and download random stuff

**Describe the solution you'd like**
Allow the to

[2021-07-26 22:43] Jegelewicz commented on #28
@dustymc both of those links 404. Is this still needed? If so, what was it for and what pages?

[2021-07-26 22:44] Jegelewicz commented on #34
Can we close this?

[2021-07-26 22:47] mkoo commented on #34
close please!

On Mon, Jul 26, 2021 at 3:44 PM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2021-07-26 22:49] Jegelewicz commented on #119
@mkoo could your MVZ workflow be made into a best practice?

[2021-07-26 22:49] dustymc commented on #28
Yea unstable URLs are a pain....

This was just an attempt to make it easy for people to get from the rendered HTML page (https://handbook.arctosdb.org/documentation/accession.html) to the markdown (https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_documentation/accession.markdown), where anyone with rights can edit. Still seems pretty useful, maybe beside your "Request Documentation U

[2021-07-26 22:52] Jegelewicz commented on #103
I don't know what to document - I think seas are still a problem. Moving back to main repo for code table cleanup label.

[2021-07-26 22:55] mkoo commented on #119
let me clean up the spilled coffee from snorting so much...

I think that's a good idea once we create a new workflow with TACC's help
since we've been talking about changing up some of the key parts of the
workflow (eg., management of uploaded material via SFTP or SSH etc). Also,
if Arctos starts getting IIIF savvy then hopefully some of our workflow
will become obsolete! But let's put that on th

[2021-07-26 22:57] Jegelewicz commented on #199
I can't see anything that needs to be done here. closing

[2021-07-26 22:57] #199 closed, assigned to Erober45

[2021-07-26 23:12] Jegelewicz commented on #117
Documentation updated - https://handbook.arctosdb.org/documentation/locality.html#depths
closing

[2021-07-26 23:12] #117 closed, assigned to nobody

[2021-07-26 23:16] Jegelewicz commented on #119
I figured as much - we'll just leave this here for now.

[2021-07-26 23:18] Jegelewicz commented on #28
OK - I thought that's what you were getting at and yes - I like it. I'll look at adding it to the pages in some "normal" way.

[2021-07-26 23:19] #34 closed, assigned to nobody

[2021-07-26 23:40] mkoo commented on #185
there are lots of options nowadays:
readthedocs.org (more markdown, more features!)
simple jekyll theme like: https://jekyllthemes.io/theme/documentation
Bookdown (write in R!)
Docusaurus.io

But before we get into options, I think we should review our needs and new functions/ features that we want. Any good platform will have a learning curve to maintain and update though. We should also think ab

[2021-07-27 16:56] ebraker commented on #223
What about this?
![video_bear](https://user-images.githubusercontent.com/11336485/127195933-3b25b50e-ed36-4b8c-8a1c-569ca2ab4bd6.png)

[2021-07-27 17:35] Jegelewicz commented on #223
nice! Can you make a small one - like 60x60 pixels and save it [here](https://github.com/ArctosDB/documentation-wiki/tree/gh-pages/tutorial_images) as "Bear play"?

[2021-07-27 20:38] ebraker commented on #223
@Jegelewicz Done!

[2021-07-27 20:47] sharpphyl commented on #219
If it's stable now, I'll do it, but my examples will be molluscan unless someone else suggests others.  Document or video or both?

[2021-07-27 21:11] Jegelewicz commented on #219
I think that search is pretty stable. This one should be really simple and actually a video would be great!

[2021-07-27 21:32] Jegelewicz commented on #223
What do you think?

https://handbook.arctosdb.org/how_to/How-to-Create-Agents.html

[2021-07-27 21:34] ebraker commented on #223
Looks fab!

[2021-07-27 21:43] Jegelewicz commented on #223
Yay! Thank you!!!

[2021-07-27 22:49] Jegelewicz opened #224 "Best Practice update - Creating meaningful Agents"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

ArctosDB.org url: https://handbook.arctosdb.org/best_practices/Agents.html

Github code: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_best_practices/Agents.markdown

The following need to be added/changed/deleted

 - [ ] Could use some review by others

The following

[2021-07-27 23:05] #223 closed, assigned to ebraker

[2021-07-28 14:13] dustymc opened #225 "Documentation needed - component loaders"
Need Component Loader Documentation (like [Bulkloader](https://handbook.arctosdb.org/documentation/bulkloader.html)) but something generic to cover them all.

Document: https://handbook.arctosdb.org/documentation/componentloader.html

Document code: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_documentation/componentloader.markdown

Need to add to Component Loader Documentation:

[2021-07-28 14:48] Jegelewicz commented on #225
OK - I can see the collections to which I have access and NONE of them are DMNS, so why this?

![image](https://user-images.githubusercontent.com/5725767/127247202-8906d13c-f709-4c86-932c-eec4faddf3ac.png)

[2021-07-28 14:55] Jegelewicz opened #226 "Best Practice, New - Encumbrances"
From https://github.com/ArctosDB/internal/issues/63

We should develop documentation regarding encumbrances. Encumbrances were developed to hide pre-publication data, fuzz native seal-hunting spots, etc. I think it's now being used for more sensitive data, and given the size of the Arctos Security Team and the scope of their budget, I'm not sure how safe that is.

ArctosDB.org url:

Github code:

[2021-07-28 15:01] dustymc commented on #225
You see Andy's records because you have manage collection (or manage records in recently-rebuild forms) and share ua_paleo with him, as described in the linked/original issue. These forms allows records which don't have collections, they can't possibly use collection for anything useful, access is centered on users.

[2021-07-28 15:13] Jegelewicz opened #227 "iNaturalist identifier at iNat needs documentation"
From https://github.com/ArctosDB/internal/issues/35

Not sure where it should go right now but:

[2021-07-28 15:44] Jegelewicz commented on #225
OK - I get it now. Thanks!

[2021-07-28 21:32] Jegelewicz commented on #211
Figured it out!

[2021-07-28 21:32] #211 closed, assigned to nobody

[2021-07-28 22:56] Jegelewicz opened #228 "How To update - How To Manage Taxonomy Hierarchically"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

How To: https://handbook.arctosdb.org/how_to/How-to-Manage-Taxonomy-Hierarchically.html

In Github: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Manage-Taxonomy-Hierarchically.markdown

From https://github.com/ArctosDB/arctos/issues/3538#issuecomment-86

[2021-07-29 15:31] Jegelewicz opened #229 "How To Search Localities"
Thank you for adding this Dusty! When I tried it out in test I had no issues with it.

We probably just need a brief general How To Search Localities documentation. I can work on that.

_Originally posted by @Nicole-Ridgwell-NMMNHS in https://github.com/ArctosDB/arctos/issues/3727#issuecomment-881579707_

[2021-07-29 15:32] ebraker opened #247 "Write SQL Cheats - move from Google to code in this repo"
Is there a way to query the agent(s) associated with the most institutions/collections in Arctos? I'm trying to find a gold star example for a presentation. I know there is Grinnell, but he's had a lot of traffic in past presentations...

![image](https://user-images.githubusercontent.com/11336485/127521115-2b641e21-e95c-4b31-89a7-08bdf3d9241a.png)

[2021-07-29 15:33] Jegelewicz commented on #229
See #222

[2021-07-29 15:33] #229 closed, assigned to nobody

[2021-07-29 15:42] dustymc commented on #247
[code]

My query surprisingly didn't melt anything (I still used test) so I can lower the bar and try again if you don't like Rausch, "IDK but we feel compelled to say something," or giant faceless agencies....

[2021-07-29 16:12] ebraker commented on #247
Perfect! Thank you!

[2021-07-29 17:49] Jegelewicz commented on #247
As a test, I created this in Documentation - I think we could use a new group on the page, but if we include it then it would be searchable and we could have a history of edits.

See https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_sql_cheats/cross_institutional_agent_search.markdown

[2021-07-29 20:24] campmlc commented on #247
Another cool idea for our Arctos dashboard.

On Thu, Jul 29, 2021 at 11:49 AM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2021-07-29 21:02] Jegelewicz commented on #247
@mkoo What are your thoughts on adding one more section to the Handbook?

SQL Cheat Codes

I already have two:
https://github.com/ArctosDB/documentation-wiki/tree/gh-pages/_sql_cheats

Could move all the stuff from the Google doc to documentation-wiki, then these could be searched using the handbook functionality.

[2021-07-29 21:03] Jegelewicz commented on #247
Or to add to the Try Something Random widget.

[2021-08-02 15:40] Jegelewicz commented on #125
Moving this back to the main repo for discoverability.

[2021-08-02 15:45] Jegelewicz opened #230 "How To Needed - How To Search Localities"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

How To: **replace this text with the url of the How To the request is for. (example: https://handbook.arctosdb.org/how_to/How-to-Create-a-New-Loan.html)**

In Github: **replace this text with the url of the Github code for the How To. (example: https://github.com/ArctosDB/documentati

[2021-08-09 18:22] Jegelewicz opened #231 "Chronostratigraphy - asserted vs. derived data"
Yep, no problem with that.

We're obviously not making a clear distinction between asserted and derived data, and there's no current documentation

<img width="915" alt="Screen Shot 2021-08-09 at 11 17 38 AM" src="https://user-images.githubusercontent.com/5720791/128754323-171bce74-4e07-4add-b7e6-7851189538f6.png">

There should be.

_Originally posted by @dustymc in https://github.com/ArctosDB/ar

[2021-08-16 19:14] Jegelewicz opened #232 "How To update - Convert TRS to Coordinates"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

How To: https://handbook.arctosdb.org/how_to/Convert_TRS_to_Lat-Long_Using_GeoLocate.html

In Github: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/Convert_TRS_to_Lat-Long_Using_GeoLocate.markdown

The following could use some more work

 - [x] Include the coun

[2021-08-16 19:14] Jegelewicz commented on #232
@Nicole-Ridgwell-NMMNHS could you provide new screenshots that include the county?

[2021-08-19 19:51] Nicole-Ridgwell-NMMNHS commented on #232
![image](https://user-images.githubusercontent.com/47402809/130133893-61146f6d-1b67-437f-8be9-609c67200589.png)
![image](https://user-images.githubusercontent.com/47402809/130134079-f702f280-6bef-4fc2-9a22-102f6e3de731.png)
![image](https://user-images.githubusercontent.com/47402809/130134260-23c62df0-731c-4dc8-8129-a960d49140a2.png)
![image](https://user-images.githubusercontent.com/47402809/1301

[2021-08-19 21:00] Jegelewicz commented on #232
Thanks!!!

[2021-08-19 21:32] Jegelewicz commented on #232
Added to repo and document updated.

[2021-08-19 21:32] #232 closed, assigned to nobody

[2021-08-27 16:19] Nicole-Ridgwell-NMMNHS commented on #231
For documentation, how about:
The ages of rock strata in relation to time ([Wikipedia](https://en.wikipedia.org/wiki/Chronostratigraphy)), typically derived indirectly from geological context, but may be derived from direct dating.

[2021-08-27 16:39] Jegelewicz commented on #231
This sounds good to me. @dustymc ?

[2021-08-30 18:38] Jegelewicz opened #233 "Best Practice - Media/Casts and other representations"
https://github.com/ArctosDB/arctos/issues/3882

[2021-09-02 18:27] campmlc opened #234 "Documentation Update - Update references to Component Loaders"
Batch Tools and Browse and Edit extras (load/autoload) should include reference to Component Loader system - make vocab consistent

ArctosDB.org url: **replace this text with the url of the documentation page the request is for
https://arctos.database.museum/DataEntry.cfm#
https://arctos.database.museum/Bulkloader/browseBulk.cfm

Github code: **replace this text with the url of the Github code for

[2021-09-02 20:50] Jegelewicz opened #235 "Best Practice - Citing Arctos Records"
From https://github.com/ArctosDB/internal/issues/122

From the AWG Issue meeting - we need a Best Practices Document to share with researchers and loans, and other museums/databases, editors, etc.
This document would give examples, information, and instructions on how to cite Arctos material from loans, and the importance, necessity, and power of citing these things correctly.

Old Documentation t

[2021-09-16 14:59] Jegelewicz opened #236 "How To needed - Part subsamples"
There is scant information about subsamples in our documentation. It would be very helpful if those of you who subsample regularly could add to the relevant documentation. Probably needed in object tracking and loans? @KyndallH @campmlc @ebraker

prompted by this from Norway:

**No need to complete below this point - these are reminders for the person working on the update**

When the above are co

[2021-09-16 15:18] dustymc commented on #236
Documentation should at least not exclude other use cases:

* It's "derived from" not "subsample" - subsample is but one use case, the model can link parent-child parts in ways we've not yet anticipated.
* There's no enforced vocabulary relationship or part name link
* There's no limit on depth
* whole organism-->skeleton-->femur-->marrow-->DNA is fine/expected.

The bulk operations are pretty tri

[2021-09-24 13:50] Jegelewicz opened #237 "How To update - How to upload media to TACC"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

How To: https://handbook.arctosdb.org/how_to/How-to-Upload-Media-to-TACC.html#large-batch-uploads

In Github: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Upload-Media-to-TACC.markdowntps://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/Ho

[2021-09-24 13:55] Jegelewicz commented on #237
Awaiting changes as proposed by @gracz-UNL before Community updates.

[2021-09-24 20:39] Jegelewicz opened #238 "Documentation update - Data Entry"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

How To: https://handbook.arctosdb.org/how_to/Understanding-data-entry.html

In Github: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/Understanding-data-entry.markdown

The following need to be added to this How To

 - [ ] **indicate things that need to be added

[2021-09-29 16:59] Jegelewicz opened #239 "How To - Google Search"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

Arctos Page - https://arctos.database.museum/googlesearch.cfm

How To: Needs to be created

In Github: Needs to be created

The following need to be added to this How To

 - [ ] Describe what this widget does
 - [ ] Offer advice on its use

**No need to complete below this point - th

[2021-09-29 17:53] Jegelewicz opened #240 "Documentation Update - Pre-Bulkloader"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

ArctosDB.org url: https://handbook.arctosdb.org/documentation/pre-bulkloader.html

Github code: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_documentation/pre-bulkloader.markdown
The following need to be added/changed/deleted

 - [ ] Needs documentation
 - [ ] Needs

[2021-09-29 17:58] Jegelewicz opened #241 "De-specimen documentation"
Meta issue for switching from "specimen" to "catalog record" or "cataloged item" in all documentation.

[2021-09-30 21:33] Jegelewicz opened #242 "Documentation Update - Manage Collection"
We need a summary of this to replace the documentation in the Manage Collection page. Needs documentation to clarify the difference between internal, external license and collection terms. Currently the help links go to code tables which do not make this distinction, and to this issue.

_Originally posted by @campmlc in https://github.com/ArctosDB/arctos/issues/2566#issuecomment-931612926_

[2021-09-30 21:56] Jegelewicz commented on #242
Add link to How to select a license.

[2021-09-30 21:56] #242 closed, assigned to nobody

[2021-09-30 21:57] Jegelewicz commented on #90
Done - https://handbook.arctosdb.org/how_to/How-To-Apply-Licensing-and-Terms.html

[2021-09-30 21:57] #90 closed, assigned to nobody

[2021-10-05 15:28] Jegelewicz opened #243 "How To Needed - Store Private Media Locally"
Yes, so even though I changed the URI to file:///N:/GeoScience/Local_Arctos_Media_DoNotTouch/Berry_DeedofGift.pdf, it still tried to go to https://web.corral.tacc.utexas.edu/arctos-s3/nicoleridgwell/2020-06-23/Berry_DeedofGift.pdf

Are you also saying that even if I am on a computer with access to the local URI, I have to copy/paste the filepath to into file explorer to get to the image? I can't j

[2021-10-06 15:16] Jegelewicz opened #244 "Best Practice - TACC Media Allocation"
Need advice on creating directory structures in the Arctos Project Allocation at TACC.

[2021-10-06 15:23] dustymc commented on #244
Some version of

[code]

Institution (for "our" accounting) and the dailies (for everyone's sanity) are the important parts, the "project folders" in the middle are entirely optional.

[2021-10-06 16:04] Jegelewicz commented on #244
[Draft started](https://handbook.arctosdb.org/best_practices/TACC_allocation.html) - please give feedback or edit directly!

[2021-10-06 16:51] dustymc commented on #244
I don't think that's true. The file *should* be owned by, and only "writable" (includes deletion) by, the creating user. Other users being able to write to the dir should not change anything.

Perhaps our expectation of immutability should be stressed more - NOBODY should be even thinking about changing anything here, even if they can. "Access" seems to be a central, or at least recurring, concern

[2021-10-06 17:07] Jegelewicz opened #245 "New Documentation - Need Code Table Documentation"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

ArctosDB.org url: suggest - https://handbook.arctosdb.org/documentaion/code_tables.html

Github code: suggest - https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_documentation/Code_Tables.markdown

The following need to be added/changed/deleted

 - [ ] We need something t

[2021-10-06 17:31] Jegelewicz commented on #244
Changed to: Once loaded, files may only be removed by the TACC user who uploaded them.

Added to summary, but it also stated at the top under cautions: Files stored in the Arctos Project Allocation at TACC should be considered to be **archived in perpetuity**. The intent of this service is to provide "forever-resources" and changing that is a pretty big deal!

Added: Follow standard file naming pr

[2021-10-06 17:33] dustymc commented on #245
This exists as https://handbook.arctosdb.org/how_to/How-To-Manage-Code-Table-Requests.html

[2021-10-06 17:37] dustymc commented on #244
Yes and no - a structure that leads to 15K large files also leads to a situation in which processing is limited.

Me either!

[2021-10-06 17:38] Jegelewicz commented on #245
Does it though? I don't feel like we define WHAT code tables are and how they are used in Arctos? Maybe that How To is good enough, but I am looking at required reading for new code table admins and do we think that How To is enough?

[2021-10-06 17:48] dustymc commented on #245
Docs can always be better, but lets don't make more - merge, move (but leave redirects), whatever, I just don't want one more THING to fail to find.

[2021-10-06 17:48] Jegelewicz opened #246 "How To needed - How To Create and Manage Higher Geography"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

How To: suggested: https://handbook.arctosdb.org/how_to/How-to-Create-and-Manage-Geography.html)

In Github: suggested: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Create-and-Manage-Geography.markdown

The following need to be added to this How To

 -

[2021-10-06 17:51] Jegelewicz commented on #245
Trying to avoid that by putting stuff in https://arctos.database.museum/Admin/user_roles.cfm but also, as long as it is in the handbook - we should be able to find it?

[2021-10-06 17:51] dustymc commented on #246
This is https://handbook.arctosdb.org/documentation/higher-geography.html#guidelines-for-geographic-terms-in-arctos

[2021-10-06 17:52] dustymc commented on #245
"Denormalization is bad" has no boundaries.

[2021-10-06 17:53] Jegelewicz commented on #245
Our oldest open issue in documentation_wiki - https://github.com/ArctosDB/documentation-wiki/issues/123 got me started down this path. Looking at user roles and how well we explain them to incoming collections seems to be a priority for me! Pretty sure a lot of people have access to some of these roles who have never read the documentation or a how to...

[2021-10-06 17:53] Jegelewicz commented on #245
? I'm trying to put everything in the handbook - all that table has is links....

[2021-10-06 18:09] dustymc commented on #245
Agreed! Part of that is being able to find things, and the easiest path to that has only one THING to find. Documentation is increasingly scattered; I'm not suggesting anything at all about the content, only the structure. Nobody can be expected to dig through a dozen pages to find something, and search doesn't work well across lots of pages. I don't like this sort of thing:

<img width="406" alt=

[2021-10-06 19:31] Jegelewicz commented on #245
Part of that is due to people's short attention span. We can't put everything about "Locality" in one document and expect people to wade through it. In the same way we have created short video tutorial, we have also created short bits of "How-To" for very specific tasks. I am not saying one or the other method is better or worse and it probably depends on how you see the world.

[2021-10-06 19:40] Jegelewicz commented on #246
That does NOT provide direction for creating or editing geography - that is documentation about geography. "How To create and manage" would start out with "from the Arctos main menu select..." and then give direction from there. WHERE am I supposed to create new geography...

[2021-10-12 14:38] Jegelewicz commented on #235
From September AWG Meeting:

Does need to be discussion, who wants to help?

There are better ways to cite that would help Dusty find people’s publication with Arctos specimens in it.

Additional things to think about -> citing both object numbers and parts of the objects

Recommended [practices from AOS](https://americanornithology.org/professional-resources/collections-permitting-resources/guide

[2021-10-12 15:01] Jegelewicz commented on #108
![image](https://user-images.githubusercontent.com/5725767/136980877-a88b29b0-dfed-4aa1-89ee-394330facfdd.png)

[2021-10-12 15:15] dustymc commented on #235
That's closer to "abandoned documentation" than "old documentation." https://github.com/ArctosDB/arctos/issues/1130.

I would not ever recommend "cite each specimen by the institutional catalog number, three-part GUID (institution code:collection code:catalog number)..." Those things cannot be expected to be unique, and so cannot lead to a particular place.

The "DWC GUID" is unique within GenBank

[2021-10-12 15:19] dustymc commented on #108
https://github.com/ArctosDB/PG_DDL/blob/master/shared_data/dwc_occurrence.sql

[2021-10-12 23:09] Jegelewicz commented on #235
Best Practice - [Citation of Collection Objects with Data in Arctos](https://handbook.arctosdb.org/best_practices/citations.html)

I worked on this a bit - please provide feedback. This is meant for collections to make decisions about what to put in loan forms and here
![image](https://user-images.githubusercontent.com/5725767/137040859-c4bbd588-1730-484b-8d6c-739fedde515d.png)

[2021-10-12 23:12] campmlc commented on #235
Citation format?

On Tue, Oct 12, 2021, 5:09 PM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2021-10-12 23:16] Jegelewicz commented on #235
????

[2021-10-12 23:18] dustymc commented on #235
Those are not related.

collection.citation is AFAIK one of those not-terribly-useful "because GBIF does it" sort of things, something like a human-readable version/summary/something of eg ``https://arctos.database.museum/collection/UAF:Zooarch``

[2021-10-12 23:22] Jegelewicz commented on #235
Ah ha! I knew I was missing something!

Hehehehe...

![image](https://user-images.githubusercontent.com/5725767/137041818-45abd9f7-12d2-4729-a1d3-14841c555afc.png)

How does that feed into the eml?

[2021-10-12 23:23] Jegelewicz commented on #235
Because I am thinking it might pay for us to put that GBIF created DOI somewhere. People may be citing it and we could find pubs/usage that way.

![image](https://user-images.githubusercontent.com/5725767/137041987-e721f43b-99d0-489d-9b11-9d3d49675b44.png)

[2021-10-12 23:26] dustymc commented on #235
<img width="629" alt="Screen Shot 2021-10-12 at 4 24 13 PM" src="https://user-images.githubusercontent.com/5720791/137042066-07cad18c-81d5-49c1-a798-dfa5ef960101.png">

I think that's maybe one of the alternate identifiers, but there's no exchange and no standard so who knows.

[2021-10-13 00:19] campmlc commented on #235
I meant "shouldn't we change "citation" in the form to "Citation Format" -
as I thought that is what we had just been discussing and what that field
was asking. But now I see that it is - so maybe we need both?
Perhaps a field in collection metadata for "Preferred Record Citation
Format"?[image: image.png]

On Tue, Oct 12, 2021 at 5:17 PM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2021-10-14 15:34] Jegelewicz commented on #235
This seems like a great idea. This could also be used to populate a loan form or as part of any data download from Arctos

[2021-10-18 14:49] Jegelewicz commented on #241
Just handled How to Delete a Catalog Record.

[2021-10-20 15:34] dustymc commented on #200
done

[2021-10-20 15:34] #200 closed, assigned to nobody

[2021-10-22 14:30] Jegelewicz opened #248 "Portal dump needs documentation"
Needs Documentation?

_Originally posted by @Jegelewicz in https://github.com/ArctosDB/arctos/issues/3647#issuecomment-889239547_

[2021-10-22 15:10] Jegelewicz opened #249 "Finding parts for a loan documentation needs an update"
Agree we should be able to use flatten part location - and this is working
for me now, so not sure if it was fixed. However, I've started using
catalog record results ->manage->part/table download to find the locations
of parts for loan. That form has been updated to make it a much easier tool
to use for this purpose.

On Wed, Aug 11, 2021 at 11:46 AM cjconroy ***@***.***> wrote:

_Originally post

[2021-11-03 21:14] dustymc opened #250 "Documentation request - persistent identifiers"
We need documentation regarding persistence of identifiers in Arctos.

Short version:

Identifiers of the format https://arctos.database.museum/guid/UAM:Arc:UA2014-053-0796 should be persistent, but we allow deletion, redirects are not always created, and we as a community allowed https://github.com/ArctosDB/arctos/issues/3409 to happen.

No other identifier comes with any assumptions of persisten

[2021-11-11 16:12] Jegelewicz commented on #184
I think that all of this is documented in [Agent](https://handbook.arctosdb.org/documentation/agent.html)

[2021-11-11 16:12] #184 closed, assigned to nobody

[2021-11-11 22:27] Jegelewicz commented on #224
@dustymc I am working on this and as I do also trying to add descriptions in the table browser - https://arctos.database.museum/tblbrowse.cfm?tbl=agent

Please let me know if any of these look crazy.

|column name|description|data type|null?|length|code table|
|-----------|-----------|---------|-----|------|----------|
|agent_id|Agent table primary key.|bigint|NO|||
|agent_type|Select from values

[2021-11-11 22:30] Jegelewicz commented on #224
Also - is there any way to expose this table for Arctos operators to see (not edit)? I think it might be useful and rather than copy pasting it and then having it be wrong wherever it was pasted the next day it could be a living dictionary of Arctos data tables.  Just wishing...

[2021-11-15 20:35] Jegelewicz opened #251 "Documentation Review - What Do We Want?"
Currently documentation is divided into several sections:

[Documentation](https://handbook.arctosdb.org/documentation/) - Descriptions of specific database tables and field definitions. Also available via info-links from the Arctos Database on pages with permissions (nitty gritty technical stuff)

[How-To](https://handbook.arctosdb.org/how_to/) - Learn the steps to using Arctos better here! Writt

[2021-11-15 20:42] Jegelewicz commented on #251
Added to AWG Agenda for December 9, 2021

[2021-11-30 21:33] Jegelewicz commented on #260
Derek

[2021-11-30 21:34] Jegelewicz commented on #260
Teresa

[2021-11-30 21:35] Jegelewicz commented on #260
-Derek

[2021-11-30 21:35] Jegelewicz commented on #260
Teresa J. Mayfield-Meyer

[2021-11-30 21:36] Jegelewicz commented on #260
-Derek

[2021-11-30 21:36] Jegelewicz commented on #260
Thx-D

[2021-11-30 21:37] Jegelewicz commented on #260
I did what Dusty said using the genera listed in the Wikipedia Article - here is what is in  Arctos. You can also see results here - https://arctos.database.museum/tools/BulkloadClassification.cfm
[Polleniidae_in_Arctos.csv](https://github.com/ArctosDB/arctos/files/7629018/Polleniidae_in_Arctos.csv)

[2021-11-30 21:38] Jegelewicz commented on #260
This needs some decent documentation and perhaps a video tutorial.

[2021-12-02 16:19] kmkocot opened #252 "Documentation update - How To Create Labels"
ArctosDB.org url: https://handbook.arctosdb.org/how_to/How-to-Create-Labels.html

The following needs to be changed, I think:
The instructions for generating labels seem to be out of date and/or are confusing. The document says "Find some specimens and choose “Print Any Report” under the Manage widget." Are these instructions referring to the Catalog Record Search Results page or an individual cat

[2021-12-02 16:41] kmkocot commented on #252
Sorry, I found the video and I see the Manage drop-down box now.
https://www.youtube.com/watch?v=BlOi5XwJHas

[2021-12-02 16:41] #252 closed, assigned to nobody

[2021-12-06 21:26] Jegelewicz opened #253 "Container positions need better documentation"
This issue has been fixed with the change to NULL as default size. Adding the need for documentation to the documentation-wiki repo.

_Originally posted by @Jegelewicz in https://github.com/ArctosDB/arctos/issues/3878#issuecomment-987237492_

[2021-12-07 19:59] dustymc opened #254 "ctutm_zone update request"
https://arctos.database.museum/info/ctDocumentation.cfm?table=ctutm_zone needs better documentation - especially eg "10S" which refers to latitude band S, not "south" (a common misuse).

[2021-12-07 21:14] Jegelewicz commented on #254
10S should have the link to  - https://epsg.io/32710 ? Do you want me to look these up?

[2021-12-07 21:20] dustymc commented on #254
The SRIDs are autolinked, I just think it would be useful to have some sort of human-readable version - but the "Area of use" in the link exists. It seems that NOBODY quite understands UTM, I'm just trying to cut problems off before they become problems, maybe I'm being way too paranoid, IDK.....

[2021-12-07 21:49] Jegelewicz commented on #254
But I don't think they are correctly linked? all of the "10" zones are linked to the same thing when there are different pages for them

10N - https://epsg.io/32610
10S - https://epsg.io/32710
10T - no results...

Not saying I know what I'm talking about, just seems odd.

[2021-12-07 22:01] dustymc commented on #254
If they're wrong then the SRID needs changed - it's the one actionable piece of data, what I use to transform.

(I don't think they are, it's just that the things that matter to pgis aren't 1:1 with UTM units, but I'm no expert either.)

[2021-12-16 15:23] Jegelewicz opened #255 "New bulkloading process needs documentation"
@lingnancollection First of all, welcome to Arctos!

Here is how you handle this situation now.

Go to [Browse and Edit](https://arctos.database.museum/Bulkloader/browseBulk.cfm) and filter for your records (they really should be all that you see as you only have access to one collection)

![image](https://user-images.githubusercontent.com/5725767/145594887-647ec0fc-46e7-43a4-ab78-563f11e75156.png

[2021-12-21 20:56] szaborac commented on #182
I think this can be closed now. This appears to be working ok.

[2021-12-21 20:56] #182 closed, assigned to nobody

[2022-01-26 21:15] wellerjes opened #256 "How to create labels - HTML"
Now that we are transitioning away from CFR reports and using HTML tools, this page of the handbook is outdated:
https://handbook.arctosdb.org/how_to/How-to-Create-Labels.html

Does anyone have any resources or templates to get started with the new process that they could share?

Tagging @lkvoong, as suggested on Arctos report printer page

I started using https://wordtohtml.net/ to convert my lab

[2022-01-26 21:25] Jegelewicz commented on #256
@Nicole-Ridgwell-NMMNHS is working this right now.

[2022-01-26 21:26] wellerjes commented on #256
Thank you for the update!

[2022-01-26 21:36] Nicole-Ridgwell-NMMNHS commented on #256
I haven't actually started on html labels, I thought @dustymc and @lkvoong were still working on examples https://github.com/ArctosDB/internal/issues/37#issuecomment-1006210310. I was just going to pass my new paleo CFR label on to them . . .

[2022-01-26 21:55] dustymc commented on #256
Yes, we're working on getting the basics sorted out; building the infrastructure, exploring css libraries, etc.

Essentially nothing other than the base query from the CFR-based labels is going to translate. I still would not advise investing anything more into the CFR report system unless that's somehow completely unavoidable.

@wellerjes we just need some place to start, PDFs, word documents, pi

[2022-01-31 19:04] gradyjt commented on #174
Hey @Jegelewicz! I wanted to first brag for a second and report that I successfully figured out how to encumber a locality for a record by creating two collecting events (one private, one open access with minimal info) thanks to your documentation in the handbook, woop woop! I was trying to find an appropriate place (hopefully here) to mention that the only snag I had was that in the "how-to" it s

[2022-01-31 19:07] Jegelewicz commented on #174
@gradyjt Woot woot! Thanks for that - I will update!

[2022-01-31 20:36] Jegelewicz commented on #174
Updates complete - hope I caught it all.

[2022-02-01 19:59] Jegelewicz opened #261 "Add a redirect for a record to be deleted"
When deleting a record that is a duplicate following the instructions in the handbook, I end up at this page

![image](https://user-images.githubusercontent.com/5725767/152041463-b0361a02-5c0d-4a73-88e5-b6191f1e63bf.png)

It does seem like a good idea to have anyone searching for the deleted catalog number to end up at the one I will be leaving in Arctos (a redirect). How is this done? There is do

[2022-02-03 17:11] dustymc commented on #261
Green box is Special Use Case, otherwise see https://handbook.arctosdb.org/documentation/redirect.html

[2022-02-03 18:15] Jegelewicz commented on #261
That in not clear at all - I think we need more in the green box.

[2022-02-08 22:39] Jegelewicz opened #257 "Taxonomy Code tables need updated documentation"
Next release will have relaxed constraints, and the edit classification UI has been much simplified to accommodate.

* https://arctos.database.museum/info/ctDocumentation.cfm?table=cttaxon_term is now used to suggest term types in the UI, but they are only suggestions. (And so maybe some of the weird rock-things don't need to exist at all now?)
* https://arctos.database.museum/info/ctDocumentation

[2022-02-14 14:44] sharpphyl commented on #257
Lots of documentation updates needed once we all agree on this.

Poor _Conus abbas_ will never be the same.  Changes are fine (actually much improved) for those of us who use WoRMS (via Arctos).

[2022-02-16 14:47] dustymc commented on #258
This could use a how-to/demo/something.

[2022-02-16 22:35] Jegelewicz commented on #259
I need clarification. If I am looking at media that is tagged to an encumbered record I cannot get to the record, correct? However, I can see whatever is in the media and the concern is that sensitive information could be reveled in this way? Even without the tag that could be true....

[2022-03-07 23:41] Jegelewicz opened #262 "Documentation needed - Entity/Organism Collection"
We need to write new documentation for the Arctos:Entity Collection

**No need to complete below this point - these are reminders for the person working on the update**

 - [x] Add a link to this issue at the top of the document (use "Add to current update request" as the text for the link)
 - [x] Add a link to this issue in the Community discussion section of the document (use "Github Issue #X" a

[2022-03-14 16:07] Jegelewicz opened #263 ">not in the Handbook. Can we add it?"
Yes please.

Absolutely. I'm actually faking one-meter circles, but the technically correct approach would be to not do that, which would mean that no NULL-error points would be accessible to the spatial tools I'm building. In other words, the only really defensible way to interpret NULL error is to make no assumptions: somewhere on the planet, probably. If you have some indication that you are in

[2022-03-23 17:44] campmlc opened #267 "Problem with Assigning Operator permissions"
Problem: I'm trying to set up user Cpowell98 as an operator for MSB. But I am unable to assign collection or role permissions. I get the following error:

![image](https://user-images.githubusercontent.com/14808196/159762712-52ce14d9-971a-4ef9-bf83-79ccbdddacc0.png)

![image](https://user-images.githubusercontent.com/14808196/159763131-3696427f-da12-4a86-b117-895342659b8f.png)

Priority: High. Pre

[2022-03-23 17:49] dustymc commented on #267
<img width="448" alt="Screen Shot 2022-03-23 at 10 46 44 AM" src="https://user-images.githubusercontent.com/5720791/159763348-fc5b1847-6215-4f60-9f8b-11acf2102d9b.png">

They need to act first. Please see the [documentation](https://handbook.arctosdb.org/documentation/users.html).

FYI this is a side effect of always being able to see roles, which was recently changed for some Issue.

[2022-03-23 17:53] campmlc commented on #267
No - I got the error before I invited them as an operator. I clicked that
thinking it might make a difference.
Or have we now changed the sequence? It used to be that I would assign the
roles and permissions, and then invite them. Has that changed?

On Wed, Mar 23, 2022 at 11:49 AM dustymc ***@***.***> wrote:

[2022-03-23 18:22] dustymc commented on #267
The "Database User Status" is what I was trying to show.

It is not and never has been structurally possible to assign roles to a user until they've made it through the invitation process. That process creates the object to which roles are assigned.

[2022-03-23 18:26] campmlc commented on #267
Maybe this page could use a step by step guide to this process, eg a
workflow. . No matter how many times I do this it never gets any easier.

On Wed, Mar 23, 2022, 12:22 PM dustymc ***@***.***> wrote:

[2022-03-23 18:31] dustymc commented on #267
I believe that's the intent of https://handbook.arctosdb.org/how_to/How-to-Create-your-Arctos-Team-Users-and-Operators.html (and how-tos in general).

[2022-03-23 18:34] campmlc commented on #267
Needs to be a menu on the page.

On Wed, Mar 23, 2022, 12:32 PM dustymc ***@***.***> wrote:

[2022-03-23 18:47] dustymc commented on #267
I think you're probably seeing the "you can create pagehelp" link?

[2022-03-23 19:41] Jegelewicz commented on #267
I do think this is a good candidate for a workflow.

How's this? https://github.com/ArctosDB/new-collections/issues/new?assignees=&labels=&template=workflow--invite-an-new-arctos-operator.md&title=New+Operator+Invitiation

[2022-03-23 19:50] dustymc commented on #267
Needs "check Database User Status" somewhere in (4).

[2022-03-23 19:58] Jegelewicz commented on #267
Mo betta now?  https://github.com/ArctosDB/new-collections/issues/new?assignees=&labels=&template=workflow--invite-an-new-arctos-operator.md&title=New+Operator+Invitiation

[2022-03-23 20:10] campmlc commented on #267
Fantastic! But I think we need to swap steps 1 and 2, because you need to add their Arctos login to their agent profile.  Also need to add step of them adding their email to their My Stuff Profile, which should occur right after they create a login.

[2022-03-23 20:25] Jegelewicz commented on #267
If we swap steps 1 and 2 you won't have an Agent to add their login to?

That is a step in the instructions for creating an account - https://handbook.arctosdb.org/how_to/How-to-Create-your-Arctos-Team-Users-and-Operators.html#1-have-each-team-member-create-an-arctos-user-account

[2022-03-23 20:26] campmlc commented on #267
Suggested revision:

1. Does the person have an Arctos Login that conforms to the specifications
[here](
https://handbook.arctosdb.org/how_to/How-to-Create-your-Arctos-Team-Users-and-Operators.html#1-have-each-team-member-create-an-arctos-user-account
)?
    -  NO
         - [ ] Have them create one using the specifications [here](
https://handbook.arctosdb.org/how_to/How-to-Create-your-Arctos-Tea

[2022-03-23 20:28] Jegelewicz commented on #267
This is already included here:
![image](https://user-images.githubusercontent.com/5725767/159789906-397c8dd3-86e1-4e13-970e-d943d7a851d3.png)

[2022-03-23 20:49] campmlc commented on #267
But people miss it - I have to constantly remind. Doesn't hurt to add to
the workflow?

On Wed, Mar 23, 2022 at 2:28 PM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2022-03-23 23:53] Jegelewicz commented on #267
But the workflow is for the person making the invite, not the person being invited?

[2022-03-25 17:20] wellerjes opened #264 "How to flag a record"
I've come across some catalog records recently where a geography (higher or specific) does not match the original specimen label and I want to flag it for more research.

Example: [CHAS:Herb:20](https://arctos.database.museum/guid/CHAS:Herb:20); there is not a locality listed on the herbarium sheet or label, but there's a specific locality within the Arctos record. I want to do some more research

[2022-03-25 17:22] dustymc commented on #264
<img width="105" alt="Screen Shot 2022-03-25 at 10 21 22 AM" src="https://user-images.githubusercontent.com/5720791/160170514-27d13828-53c5-4d03-802e-c55c96b5be38.png">

then

<img width="253" alt="Screen Shot 2022-03-25 at 10 21 32 AM" src="https://user-images.githubusercontent.com/5720791/160170538-8ca588f4-4d31-4ba0-86d4-a241f6e9f3d2.png">

then find them with

<img width="663" alt="Screen Shot

[2022-03-25 17:25] wellerjes commented on #264
Great, thank you! Would it be possible to add a category for geography or locality to the code table?

[2022-03-25 17:27] dustymc commented on #264
done - might take ~an hour to make to to all of the UI.

[2022-03-25 17:29] wellerjes commented on #264
Thank you!

[2022-03-25 18:14] Jegelewicz commented on #264
This needs a video tutorial...

[2022-04-07 15:00] Jegelewicz commented on #262
This document is under construction here - https://handbook.arctosdb.org/documentation/entity.html

[2022-04-21 22:11] Jegelewicz opened #265 "Handling objects with a prior "collection" label"
@wellerjes @camwebb The Code Table Admins talked through this today. We propose that you create an agent of type other agent for the collection, then add that agent as a collector to the appropriate catalog records. This will allow us to summarize all things from a single collection using the agent page. We have adjusted the definition for collector to reflect this usage.

_Originally posted by @J

[2022-04-21 23:07] Jegelewicz commented on #265
See https://github.com/ArctosDB/arctos/issues/4540#issuecomment-1105839226 for example

[2022-04-22 00:10] Jegelewicz commented on #265
Documentation started  - https://handbook.arctosdb.org/how_to/How_To_Add_Object_Provenance.html @camwebb @wellerjes @ebraker @ccicero @lin-fred @Nicole-Ridgwell-NMMNHS please feel free to add or edit if this is different than what we discussed!

[2022-04-22 20:25] Jegelewicz opened #266 "New tutorial for changing coordinates"
@ebraker I just uploaded a video tutorial to the Google Drive - Fix locality....

It should be trimmed and made pretty, but I don't have time, so can we just put it up as is?

[2022-04-22 20:34] ebraker commented on #266
@Jegelewicz Totally! Thank you! We can also edit in Youtube studio at any point down the road (LMK if it is something simple and I'll just do it).

https://youtu.be/MM5lgfACD9k

[2022-04-22 20:39] Jegelewicz commented on #266
Yay! Thanks!

[2022-04-22 20:39] #266 closed, assigned to nobody

[2022-05-13 22:54] DerekSikes opened #268 "adding ID when a new name is just made in taxonomy is wonky"
Issue Documentation is http://handbook.arctosdb.org/how_to/How-to-Use-Issues-in-Arctos.html

**Describe the bug**
A clear and concise description of what the bug is.

Try to add an identification (eg Mimumesa mixta) to a record but the name isn't in taxonomy so...

First make the name in taxonomy: https://arctos.database.museum/name/Mimumesa%20mixta

then return to the record and try to add "Mimum

[2022-05-13 23:12] dustymc commented on #268
I don't have a solution. I don't think that form can realistically function without a cache, that's what this is hitting.

[2022-05-13 23:53] DerekSikes commented on #268
The weird thing is that it's super fast if I leave off the last letter.

If I paste in the full name it fails. That doesn't sound like a cache issue.

-D

On Fri, May 13, 2022 at 3:12 PM dustymc ***@***.***> wrote:

--

+++++++++++++++++++++++++++++++++++
*Derek S. Sikes*, Curator of Insects, Professor of Entomology
University of Alaska Museum (UAM), University of Alaska Fairbanks
1962 Yukon Drive

[2022-05-16 18:44] DerekSikes commented on #268
How was this resolved?

It's an unacceptable violation of human interface for a search form to fail
to find results if the search term is a perfect match for a name in the
database.

-Derek

On Mon, May 16, 2022 at 10:04 AM dustymc ***@***.***> wrote:

--

+++++++++++++++++++++++++++++++++++
*Derek S. Sikes*, Curator of Insects, Professor of Entomology
University of Alaska Museum (UAM), University

[2022-05-16 19:01] dustymc commented on #268
Reopening.

I'll need a lot more infrastructure, or we'll need to talk about what's available in the picks, or both, before I can do anything about this.

[2022-05-16 19:13] DerekSikes commented on #268
Can you explain why a search on

Mimumesa mixt

finds a match with Mimumesa mixta but a search on

Mimumesa mixta

fails? It really seems like something bizarre is going on?

-Derek

On Mon, May 16, 2022 at 11:02 AM dustymc ***@***.***> wrote:

--

+++++++++++++++++++++++++++++++++++
*Derek S. Sikes*, Curator of Insects, Professor of Entomology
University of Alaska Museum (UAM), University of Alas

[2022-05-16 19:19] dustymc commented on #268
That would only have been true for about an hour. Search for something, whatever happens (nothing found in this case) is just pulled from the cache regardless of the current state of the data until there's a refresh. A different search (missing a letter here) gets recorded as a new cache object.

[2022-05-16 19:29] DerekSikes commented on #268
Ok, so you're saying that the reason the full name fails to find anything
is because I had already searched using that full name before I discovered
it was missing in the Taxonomy table? (which resulted in nothing found &
that was cached).

So... maybe a rare situation? Maybe I should use the taxon name checker
before doing this work & pre-create any missing names?

-Derek

On Mon, May 16, 2022 at

[2022-05-16 19:55] dustymc commented on #268
Yup.

That's the idea, but it didn't take long for this to happen so maybe not. Lacking better ideas, I'll add a blurb about caching to the form.

[2022-05-17 02:33] sharpphyl commented on #268
It happens frequently to us.  We've learned to take off the last letter and let Arctos do a new search for the name.

[2022-07-13 18:09] Jegelewicz commented on #93
I think the accessions how tos are good now.

[2022-07-13 18:09] #93 closed, assigned to nobody

[2022-07-13 18:10] Jegelewicz commented on #92
This is done.

[2022-07-13 18:10] #92 closed, assigned to Jegelewicz

[2022-08-10 21:45] Jegelewicz opened #269 "Documentation update - Agents"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

ArctosDB.org url: https://handbook.arctosdb.org/how_to/How-to-Create-Agents.html

Github code: https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Create-Agents.markdown

The following need to be added/changed/deleted

 - [x] add blurb about not over-using rem

[2022-08-11 16:27] Jegelewicz commented on #269
@lin-fred @ewommack @dustymc Please read these and let me know if anything needs to be changed or added.

[Agents](https://handbook.arctosdb.org/documentation/agent.html)
[Creating Meaningful Agents](https://handbook.arctosdb.org/best_practices/Agents.html)
[How to Create an Agent](https://handbook.arctosdb.org/how_to/How-to-Create-Agents.html)

[2022-08-11 18:58] ewommack commented on #269
Might want to change to "so things collected around that date may still be attributable to AgentX.

Before can be such a large time frame, and would depend on age of the person. If they were 80 at the conference, then you've got a little over six decades you could probably work with. If they were 20 at the conference, only a couple years.

[2022-08-11 20:36] atrox10 commented on #269
Sorry if you already said this in another thread, is there a way for each
collection to see it’s “problem” agents easily?

On Thu, Aug 11, 2022 at 11:59 AM Elizabeth Wommack ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-08-11 20:59] Jegelewicz commented on #269
@atrox10 https://github.com/ArctosDB/arctos/issues/4907#issuecomment-1205843041

[2022-08-11 21:03] lin-fred commented on #269
@atrox10 you can also click on "spreadsheet" in dusty's comments linked here, and it will take you to a spreadsheet that lists many of the agents https://github.com/ArctosDB/arctos/issues/4903#issuecomment-1212175184

[2022-08-11 21:22] lin-fred commented on #269
@Jegelewicz on the Agent page, typo, in the verbatim section:

Determining whether similar strings represent one entity is a much more robust exercise in the context of multiple catalog records, where it’s relatively straightforward to determine if the potential agents are conducting similar activity (in which case they probably are the same, and it’s easy to “upgrade” them to Agents using Arctos

[2022-08-20 00:05] DerekSikes opened #286 "Feature Request - no autodelete of collection /locality events if a 'Collecting Event Name' (nickname) is present?"
Issue Documentation is http://handbook.arctosdb.org/how_to/How-to-Use-Issues-in-Arctos.html

I'm just back from an expedition and have many collection events. I'd like to enter each event as follows:

Make a new locality & click 'add event', edit the event & add my collector code to the 'event name' field - then once done entering these, perhaps many days later, I want to enter the specimen data i

[2022-08-20 00:07] DerekSikes commented on #286
Nevermind! I see in the documentation: "A Collecting Event Nickname will prevent both of these actions and should be used in pre-created Collecting Events. Please remove nickname from any Collecting Events which you no longer intend to use."

however, the term 'nickname' is depreciated? and might confuse new users?

-D

[2022-08-20 00:08] DerekSikes commented on #286
Maybe this could be edited to avoid future confusion:

This Collecting Event (12130510) [ help ] contains nothing. Please delete it if you don't have plans for it.
NOTE: Unused and unnamed events are automatically deleted; please see documentation

to

This Collecting Event (12130510) [ help ] contains nothing. Please delete it if you don't have plans for it.
NOTE: Unused and unnamed events lackin

[2022-08-20 00:10] DerekSikes commented on #286
Just reopening to see if anyone agrees on two slight improvements here:

editing the text warning of deletion of collection events and changing the term 'nickname' where used to be consistent with the actual field name (for both events and localities).

[2022-08-20 00:12] dustymc commented on #286
docs updated

"unnamed events lacking...Names" seems a little Department Of Redundancy Department-ish??

[2022-08-28 18:36] hippyherpdude opened #273 "error feedback"
8C062BB9-01A2-48A8-A79BBE075169397E
--

Hello Arctos folks,
Here is yet another example why I loath this database. It is by far and away as user-unfriendly a thing imaginable. For 10+ years Arctos has really made no progress in becoming user-friendly. I am not a coder. I am not a database wizard. I am a user. A user of something that should be relatively easy to enter information into and use. Ala

[2022-08-29 14:18] Jegelewicz commented on #273
@hippyherpdude This error is the result of using the same agent name and role twice (in this case you have two "received from" roles with the same agent).

I'm sorry this is frustrating - I don't know how to make better error messages, or I would do it! I know this one, because I have done the same thing more than once....

Let me know if that doesn't solve the problem.

[2022-08-29 22:14] Jegelewicz opened #270 "Create container history for parts"
Can we get some documentation or instruction on what was done here, so we can use this tool? Where is it, how to use it? Link to this issue?

_Originally posted by @campmlc in https://github.com/ArctosDB/arctos/issues/4535#issuecomment-1230911975_

[2022-08-29 22:15] Jegelewicz commented on #270
From https://github.com/ArctosDB/arctos/issues/4535#issuecomment-1230920350

edit container, click Make Part Attributes

[2022-08-30 16:20] dustymc opened #271 "Documentation update - condition"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

ArctosDB.org url: [Part: Condition](https://handbook.arctosdb.org/documentation/parts.html#condition)

Github code: [Parts](https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_documentation/parts.markdown)

The following need to be added/changed/deleted

 - [x] condition is

[2022-08-30 17:27] Jegelewicz commented on #271
See updated document. But also, this makes me wonder if we need to treat condition the same way we do preservation? A very specific code table is available for "preservation" values, could/should we do this for condition values too?

[2022-08-30 17:40] Jegelewicz commented on #271
In particular - the remark field described here is for the cataloged item NOT the part? Where in the heck is the part remark? I expect to see it here?

![image](https://user-images.githubusercontent.com/5725767/187506000-6ae6319b-a2ac-4f88-85ee-b420cdff74ff.png)

and be called something like this?

![image](https://user-images.githubusercontent.com/5725767/187506196-89ba1d41-5359-4a85-abfd-a7d977d

[2022-08-30 18:06] dustymc commented on #271
This is still all completely wrong/lost:

<img width="762" alt="Screen Shot 2022-08-30 at 11 06 11 AM" src="https://user-images.githubusercontent.com/5720791/187511015-c8c6f982-96d0-4b63-9140-214ae66fc968.png">

Absolutely not, condition isn't a finite/categorical concept.

Right where that says, at least until https://github.com/ArctosDB/arctos/issues/4707

[2022-08-30 22:48] Jegelewicz commented on #271
Agree - and I just removed it because these are the [controlled values](https://arctos.database.museum/info/ctDocumentation.cfm?table=CTTISSUE_QUALITY) for tissue quality.

I think I made my point better [here](https://github.com/ArctosDB/arctos/issues/4707#issuecomment-1232229535)

[2022-09-15 13:51] Jegelewicz opened #272 "New How To - How to designate "types""
I have received more than one email like this in the past month or so:

Although we have the process documented in citation/publication, there is no easy way to connect them with "types"

[2022-09-15 13:52] Jegelewicz commented on #272
Types are added with a citation.

![image](https://user-images.githubusercontent.com/5725767/190421788-3ed7f76b-b75a-4bf2-ae4e-bb123030daa1.png)

The process for this is documented [here](https://handbook.arctosdb.org/how_to/How-to-Create-Citations.html). Citations can also be added in bulk

[2022-09-27 22:40] atrox10 commented on #273
Hi Peter - as I wrote back to you personally, for your uses, it's going to be a lot easier for you to use the regular Data Entry screen. You can personalize it. I can do a one on one Zoom call with you to help you set this up: https://arctos.database.museum/enter_data.cfm
(you have to log in to Arctos first to get that link to work).

[2022-10-05 21:45] Jegelewicz opened #274 "Update documentation for conducting a search"
I agree. Most collections have to go through this process, which is frustrating enough since you can't _really_ put a price on any of these things, but being able to generate a report that summarizes a collection would indeed be helpful

Thanks for pointing me in the right direction - I usually am hesitant to submit an issue for this very reason because frequently Arctos already does the thing I n

[2022-10-05 22:28] dustymc opened #291 "specloc documentation"
I'm tuning up the georeference service for https://github.com/ArctosDB/arctos/issues/4916, some things keep popping up. I"m not sure what to do with this so I'm dumping it here.

First the usual - we have a billion ways of avoiding “No specific locality recorded.”, a fair number of them result in crazy georeferneces, that's probably been beat to death but maybe a yearly newsletter article or somet

[2022-10-13 22:13] dustymc opened #275 "Documentation update - geography"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

ArctosDB.org url:

https://handbook.arctosdb.org/documentation/higher-geography.html

The following need to be added/changed/deleted

 - [ ] Most everything above Guidelines for Geographic terms in Arctos is wrong.
 - [x] https://github.com/ArctosDB/arctos/issues/5138 is The Plan; it

[2022-10-14 20:06] Jegelewicz opened #276 "Documentation update - Make clear what is required with coordinates"
I'll put this in for an update!

_Originally posted by @Jegelewicz in https://github.com/ArctosDB/data-migration/issues/1141#issuecomment-1279409985_

[2022-10-14 20:09] Jegelewicz commented on #276
Please complete the form to the best of your ability. This will help us find the document and complete the update.

ArctosDB.org url:

https://handbook.arctosdb.org/documentation/coordinates.html#georeference-method

https://handbook.arctosdb.org/documentation/bulkloader.html

The following need to be added/changed/deleted

 - [ ] Make it clear which fields are required to bulkload coordinates

Th

[2022-10-20 23:07] Jegelewicz opened #277 "Required parts and agents needs updating"
I had a vague recollection so I looked back at the documentation and indeed [this page](https://handbook.arctosdb.org/documentation/bulkloader.html#fields) claims that "At least one part is required.". It also claims that "At least one collector_agent is required.". Similarly, the bulkloader builder includes both collector_agent_1 and part_name_1 in the list of "required" fields. Seeing all of tha

[2022-10-24 18:27] acdoll opened #278 "Add to Excel hates me"
I noticed some year-only dates in some of the fields in your file. Be careful with these, Excel will interpret these as 'days since 1900-01-01'. So the year 2005 will become 1905-06-27. We usually default to the latest possible value for these (e.g., 2005-12-31).

_Originally posted by @acdoll in https://github.com/ArctosDB/arctos/issues/5203#issuecomment-1289398550_

@dustymc suggests adding comm

[2022-10-24 19:54] ewommack commented on #278
Yes I hate this feature of excel. Stop messing with my dates.

[2022-10-25 18:12] Jegelewicz commented on #278
Format them as text and Excel will leave them alone....

Also - the document needs a better title.

[2022-10-26 18:11] szaborac opened #279 "Locality data not updating in Arctos"
Issue Documentation is http://handbook.arctosdb.org/how_to/How-to-Use-Issues-in-Arctos.html

**Describe the bug**
I updated locality data for four records in Arctos yesterday. The updates only appear on the Locality tab - not in the Search Results page and not in the record landing page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://arctos.database.museum/ and search for H120

[2022-10-26 18:18] dustymc commented on #279
I updated a few million records, the cache is catching up. You can always check that here:

<img width="407" alt="Screen Shot 2022-10-26 at 11 12 20 AM" src="https://user-images.githubusercontent.com/5720791/198104934-cf888073-dd67-449f-a05f-11876eefc3eb.png">

[2022-10-26 19:10] dustymc commented on #279
See also

<img width="304" alt="Screen Shot 2022-10-26 at 12 09 41 PM" src="https://user-images.githubusercontent.com/5720791/198115330-23d319d1-f314-4833-8df1-60d26d02ce3a.png">

[2022-10-31 22:38] Jegelewicz opened #280 "How To update - How to Print Labels"
Please complete the form to the best of your ability. This will help us find the document and complete the update.

How To: [How To Print Labels](https://handbook.arctosdb.org/how_to/How-To-Print-Labels.html)

In Github: https://github.com/ArctosDB/documentation-wiki/edit/gh-pages/_how_to/How-To-Print-Labels.markdown

The following need to be added to this How To

 - [ ] Needs an overhaul for the

[2022-11-03 14:49] #256 closed, assigned to nobody

[2022-11-03 15:22] dustymc opened #308 "Feature Request - qualify Fun Flexible Features"
**Is your feature request related to a problem? Please describe.**

FFFs are a little cryptic eg in the 'select named geography' window; they are currently just "Baker."

**Describe what you're trying to accomplish**

Make things less cryptic without complicating the UI.

**Describe the solution you'd like**

suffix quads with ' Quad' and islands which don't contain 'island' with ' Island'

**Desc

[2022-11-03 15:39] campmlc commented on #308
I'd say priority high given this affects our educational tools and broader
impacts.

On Thu, Nov 3, 2022, 9:23 AM dustymc ***@***.***> wrote:

[2022-11-03 15:43] mkoo commented on #308
I was thinking of this issue-- a definition for FFF. Let me deal wtih the MOU revamp this morning and I will start a definition draft both to introduce the new database and conceptual concepts to the AWG and users and as a working model for us to navigate this new space

[2022-11-03 16:22] dustymc commented on #308
Here's a QnD pass, if you want to clean anything in maybe_new_i or maybe_new_q or just confirm that this looks sane I can update.

And I suppose there's no technical reason to avoid intersections in FFF, so if you want to add other geography columns you can do that too. I suspect that just reduces usability and deserves at least discussion, but technically it's just metadata of a shape and I suppo

[2022-11-23 00:09] Jegelewicz commented on #278
Added

[2022-11-23 00:09] #278 closed, assigned to nobody

[2022-11-23 01:09] Jegelewicz commented on #276
Added text to indicate which fields go with which units in https://handbook.arctosdb.org/documentation/bulkloader.html

[2022-11-23 01:23] Jegelewicz commented on #276
Added Pro Tip to https://handbook.arctosdb.org/documentation/coordinates.html

[2022-11-23 02:07] Jegelewicz commented on #276
Also added terms to use with each unit type in the [code table](https://arctos.database.museum/info/ctDocumentation.cfm?table=ctlat_long_units)

[2022-11-23 02:22] Jegelewicz commented on #263
Added to https://handbook.arctosdb.org/how_to/How-to-Edit-Coordinates-and-Max-Error-of-a-Locality.html

[2022-11-23 02:22] #263 closed, assigned to nobody

[2022-11-23 02:23] Jegelewicz opened #281 "Needs review and de-specimening"
https://handbook.arctosdb.org/how_to/How-to-Edit-Coordinates-for-One-Specimen.html

Do we need this or is it covered elsewhere? If needed, it needs proper formatting and de-specimening

[2022-11-23 02:40] Jegelewicz commented on #123
I think the written documentation is fairly solid. I also added the User documentation as reading for new collections as part of the Create an Arctos Team step in data migration. The video tutorial label is still here - although I am a bit unclear what that would entail.

[2022-11-23 15:02] Jegelewicz commented on #17
I have no idea what is going on with this and it is ancient. I am closing

[2022-11-23 15:02] #17 closed, assigned to nobody

[2022-11-23 15:06] Jegelewicz commented on #28
Suggested addition to every handbook page:

## Edit this Documentation

If you see something that needs to be edited in this document, you can create an issue using the link under the search widget at the top left side of this page, or you can edit directly <a href="https://github.com/ArctosDB/documentation-wiki/edit/gh-pages/_documentation/users.markdown" target="_blank">here</a>.

Adjust link fo

[2022-11-23 16:17] Jegelewicz commented on #28
This section has been added to all "Documentation" pages and I am exhausted! Need to do this for Best practices and how tos, which will take a while.

[2022-11-23 18:09] Jegelewicz commented on #28
Text for best practices

## Edit this Documentation

If you see something that needs to be edited in this document, you can create an issue using the link under the search widget at the top left side of this page, or you can edit directly <a href="https://github.com/ArctosDB/documentation-wiki/edit/gh-pages/_best_practices/Catalog-Record.markdown" target="_blank">here</a>.

[2022-11-23 18:19] Jegelewicz commented on #28
All Best Practice pages now include a link to edit them.

[2022-11-23 18:21] Jegelewicz commented on #28
The following text is for How-Tos

## Edit this Documentation

If you see something that needs to be edited in this document, you can create an issue using the link under the search widget at the top left side of this page, or you can edit directly <a href="https://github.com/ArctosDB/documentation-wiki/edit/gh-pages/_how_to/Barcode-Supplies.markdown" target="_blank">here</a>.

[2022-11-24 00:09] Jegelewicz commented on #28
All editable pages in the Arctos Documentation now include the following at the bottom:

## Edit this Documentation

If you see something that needs to be edited in this document, you can create an issue using the link under the search widget at the top left side of this page, or you can edit directly <a href="https://github.com/ArctosDB/documentation-wiki/edit/gh-pages/_how_to/Barcode-Supplies.ma

[2022-11-24 00:09] #28 closed, assigned to nobody

[2022-11-25 15:26] Jegelewicz opened #282 "Updates not showing up in the handbook"
I made hundreds of updates to the handbook on Wednesday and none of them show up there. They usually appear within a few minutes. @mkoo what do I need to do?

[2022-11-25 15:31] Jegelewicz commented on #282
I am pretty sure it is the various branches of howto - I updated hgpages, but possibly some other branch is being used for the handbook? This is a problem now and all of the edits I made refer to the ghpages branch - I don't want to have to make all of those again!

[2022-11-25 18:30] mkoo commented on #282
Not sure but will check out -- which branch do you usually make your
changes-- might need to do some house cleaning too
MK

On Fri, Nov 25, 2022 at 7:31 AM Teresa Mayfield-Meyer <
***@***.***> wrote:

[2022-11-25 23:47] Jegelewicz commented on #282
gh-pages

[2022-11-25 23:48] Jegelewicz commented on #282
The updates to the documentation show up - it's the how to's that seem to be problematic.

[2022-11-28 17:23] dustymc commented on #276
I think everything that this touched is now wrong.

https://github.com/ArctosDB/arctos/issues/4716

[2022-11-28 18:57] Jegelewicz commented on #276
How so? I need more than just "it's wrong" in order to make it right because clearly I don't know how this works anymore!

[2022-11-28 19:06] dustymc commented on #276
https://github.com/ArctosDB/arctos/issues/4716

[code]

[2022-11-28 20:31] Jegelewicz commented on #276
Thank you, all updates made.

[2022-11-28 23:28] dustymc commented on #276
https://handbook.arctosdb.org/documentation/bulkloader.html
<img width="852" alt="Screenshot 2022-11-28 at 3 27 14 PM" src="https://user-images.githubusercontent.com/5720791/204402102-87f7f773-d7a0-4237-860d-d6dbb18cc186.png">

https://handbook.arctosdb.org/documentation/coordinates.html
<img width="217" alt="Screenshot 2022-11-28 at 3 27 37 PM" src="https://user-images.githubusercontent.com/57207

[2022-11-28 23:43] Jegelewicz commented on #276
I don't know what is going on with the handbook, but I am not making any mnore edits until we have it figured out.

![image](https://user-images.githubusercontent.com/5725767/204403734-76c707b0-8c9a-47b6-8a58-9903f2de43d5.png)
 in Github lookslike

![image](https://user-images.githubusercontent.com/5725767/204403784-3bf1c639-8a42-410e-8402-1d5775f2ff08.png)
in the handbook

See also https://github

[2022-11-28 23:46] Jegelewicz commented on #276
![image](https://user-images.githubusercontent.com/5725767/204404057-297e03da-9841-4879-9e28-cc8ef1b847ca.png)
![image](https://user-images.githubusercontent.com/5725767/204404114-190693c8-92af-4204-9e06-daa38a09348d.png)

in Github but

![image](https://user-images.githubusercontent.com/5725767/204404204-16ed78a8-cd9c-4988-b66c-5fcd30e3bbe7.png)

in Documentation

[2022-11-29 16:16] Jegelewicz opened #283 "media upload needs an update"
That's not a real URL, you need eg https://web.corral.tacc.utexas.edu/arctos/ALMNH/Entomology/ALMNH102599V.JPG

Is that really still not in the documentation?! @Jegelewicz can you fix that or do I need to?

Also your folders (https://web.corral.tacc.utexas.edu/arctos/ALMNH/Entomology/Batch%20upload%201/) don't follow naming conventions, which also seems to be missing from the documentation. (https

[2022-11-29 16:22] Jegelewicz commented on #283
I can make updates, but nothing is actually propagating to the Handbook, so nobody will see them.

[2022-11-29 17:25] Jegelewicz commented on #283
https://github.com/ArctosDB/internal/issues/197#issuecomment-1330962680

[2022-11-29 17:30] Jegelewicz commented on #283
That is exactly what the documentation says

![image](https://user-images.githubusercontent.com/5725767/204600486-e0d0aef7-43e4-45d4-811a-ade50a76af07.png)

[2022-11-29 17:31] Jegelewicz commented on #283
@babogan how could we have made that more clear?

[2022-11-29 17:36] Jegelewicz commented on #283
Added

[2022-11-29 17:38] Jegelewicz commented on #283
@dustymc @babogan it would help me if you would read the new documents and let me know if anything else needs to be added or changed. Because these updates are not showing up in the actual handbook, please review them in Github.

https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_how_to/How-to-Upload-Media-to-TACC.markdown
https://github.com/ArctosDB/documentation-wiki/blob/gh-pages/_ho

[2022-11-29 17:38] babogan commented on #283
Ah it's in the metadata bulkload guide. Seems fine where it is. I was fighitng against the cyberduck guide on TACC itself and this one: https://handbook.arctosdb.org/how_to/How-to-Upload-Media-to-TACC.html
I knew the metadata had to be linked separately via bulkload and was going by this page: https://arctos.database.museum/tools/BulkloadMedia.cfm (which links to this one: https://arctos.database.

[2022-11-29 17:42] Jegelewicz commented on #283
@babogan FWIW, the bulkload media metadata How To is linked at the bottom of the Upload to TACC document.

[2022-11-29 17:43] babogan commented on #283
It did just teach me that URI refers to the images as opposed to URL- so that's good to know for the future :)
Maybe in the tips section something about the folder names/file names (I assume) not being able to handle spaces. This is intuitive but most people's folder organization likely will be using spaces so it could cause trouble

[2022-11-29 17:43] babogan commented on #283
Aha I found it after this had been opened. Just missed it when I was there. Don't worry- that's my bad. Sorry for the trouble